<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Parcels</title>
    <link 
      rel="stylesheet" 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
      crossorigin="anonymous">
  </head>
  <body>
    @using parcelApp.Models;

    <h1>Yo' Packages 📦</h1>

    @if (Model.Count == 0)
    {
      <p>There are no items in the list.</p>
    }
    <ul>
      @foreach (Parcel i in Model)
      {
        <li>Weight: @i.Weight</li>
        <li>Height: @i.Height</li>
        <li>Width: @i.Width</li>
        <li>Length: @i.Length</li>
        <li>Volume: @i.Volume</li>
        <br>
      }
    </ul>
    
    <a href="/parcel/new">Add Package</a>
  </body>
</html>